.input-area-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding: 10px; 
  }
  
  .input-area {
    flex: 9.5; 
    resize: none;
    overflow-y: auto;
    height: auto;
    min-height: 30px;
    max-height: 120px; 
    width: 100%;
    box-sizing: border-box;
    font-size: 150%; 
  }
  
  .send-button {
    flex: 0.5; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: none;
    background-color: transparent; 
    cursor: pointer; 
    padding: 0; 
  }
  
  .send-button svg {
    width: 24px;
    height: 24px; 
  }