.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 7%;
}

.chat-window {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  min-height: 300px;
  max-height: 300px; 
  overflow-y: auto;
  text-align: left;
  align-items: center;
  width: 60%;
}

.chat-window p {
  white-space: pre-wrap;
  line-height: 1.1;
}

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}

.hidden {
  display: none;
}